.App {
  text-align: center;
  height: 98vh;
}

.App .MainPage{
  height: 100%;
}

.MainPage .MainMenuHeader {
  margin: 3px;
  background-color: #eeeeee;
  border: 1px solid #999999 ;
  border-radius: 5px;
  height: 10%;
}

.MainPage .MainMenuPage {
  display: flex;
  justify-content: right;
  height: 90%;
}



.MainMenuPage .CharacterCreation {
  margin-right: 3px;
  background-color: #cccccc;
  border: 1px solid #999999 ;
  border-radius: 5px;
  width: 30%;
}

.MainMenuPage .CharacterSelection {
  margin-right: 3px;
  background-color: #bbbbbb;
  border: 1px solid #999999 ;
  border-radius: 5px;
  width: 30%;
}

.GenericDiv {
  border: 1px solid #999999 ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}